body{
    font-family: "Times New Roman", Times, serif;;
    color: rgb(70, 69, 69);
}

h1{ 
    font-weight: normal;
} 

#main{
    width: 35%;
    margin: 20px;
    padding-bottom: 20px;
}

#content{
    position: absolute;
    left:40%;
    height: 320px;
    width: 650px;
    list-style-type: none; 
}

#page-title{
    background: #eee ;
    padding: 10px;
}

#page-title h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#restaurants-list{
    margin: 30px;
}

#restaurants-list ul{
    list-style-type: none; 
    padding: 0;
}

#restaurants-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#restaurants-list li:hover{
    border-color: #409fb7;
}

.newDiv{
    background-color:white;
    width: 35%;
    height: auto;
    position: absolute;
    border: 2px solid #eee;
}

.newDiv:hover{
    border-color: #409fb7;
}

.newDivForTitle{
    text-align: center;
    background-color: #eee;
    margin: 0;
    height: 25%;
    padding-top: 35px;
}

.input{
    margin-left: 12%;
    margin-top: 10%;
}

.add{
    float: right;
    background: #409fb7;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.add:hover{
    background: #333;
}

.addOrder{
    float: right;
    background: #409fb7;
    padding: 6px; 
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 30%;
    margin-top: 3%;
    margin-right: 32%;
    margin-bottom: 2%;
    text-align: center;
}

.addOrder:hover{
    background: #333;
}

.listInNewDiv{
    list-style-type: none; 
    padding: 0;
}

.newDivForTitle{
    background: #eee ;
    padding: 10px;
}

.newDivForTitle h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.listItem{
    border-left: 5px solid #ddd;
    padding: 5px;
    margin-left: 30px;
    margin-top: 2px;
}

.listItem:hover{
    border-color: #409fb7;
}

.deleteAllRestaurants{
    float: right;
    background: #409fb7;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    position: absolute;
    margin-left: 5px;
    font-size: 19px;
    margin-top: 27px;
}

.deleteAllRestaurants:hover{
    background: #333;
}

.buttonForDeleteItem{
    float: right;
    background: #409fb7;
    /*padding: 6px; */ 
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 10%;
    /* margin-top: 3%; */
    margin-right: 3%;
    /* margin-bottom: 5%; */
    text-align: center;
}

.buttonForDeleteItem:hover{
    background: #333;
}

.deleteRestaurant{
    float: right;
    background: #409fb7;
    padding: 6px; 
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 30%;
    margin-right: 32%;
    margin-bottom: 5%;
    text-align: center;
}

.deleteRestaurant:hover{
    background: #333;
}
